*.pdf filter=lfs diff=lfs merge=lfs -text
**/*.pdf filter=lfs diff=lfs merge=lfs -text
Programming-Languages filter=lfs diff=lfs merge=lfs -text
Research_Papers filter=lfs diff=lfs merge=lfs -text
Web filter=lfs diff=lfs merge=lfs -text
Linux-Kernel filter=lfs diff=lfs merge=lfs -text
Misc filter=lfs diff=lfs merge=lfs -text
Human-Language filter=lfs diff=lfs merge=lfs -text
ML_and_NLP filter=lfs diff=lfs merge=lfs -text
Parallel-Programming filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
Test-Driven[[:space:]]JavaScript[[:space:]]Development.pdf filter=lfs diff=lfs merge=lfs -text
Books filter=lfs diff=lfs merge=lfs -text
CrackCode.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Musical[[:space:]]Creativity[[:space:]]-[[:space:]]Multidisciplinary[[:space:]]Research[[:space:]]in[[:space:]]Theory[[:space:]]and[[:space:]]Practice.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/NFO.nfo filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Pete[[:space:]]Thomas[[:space:]]-[[:space:]]Composition,[[:space:]]Orchestration[[:space:]][[:space:]]Arranging.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Torrent[[:space:]]downloaded[[:space:]]from[[:space:]]Demonoid.me.txt filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Theodor[[:space:]]Adorno[[:space:]]-[[:space:]]Music,[[:space:]]Language,[[:space:]]and[[:space:]]Composition.pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/thinkbayes.pdf filter=lfs diff=lfs merge=lfs -text
Web/ng-book.pdf filter=lfs diff=lfs merge=lfs -text
Books/DeepLearningBook.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Berklee[[:space:]]College[[:space:]]Of[[:space:]]Music[[:space:]]-[[:space:]]Harmony[[:space:]]3.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]]Book[[:space:]]-[[:space:]]David[[:space:]]Temperley[[:space:]]-[[:space:]]The[[:space:]]Cognition[[:space:]]of[[:space:]]Basic[[:space:]]Musical[[:space:]]Structures.pdf filter=lfs diff=lfs merge=lfs -text
Misc/Transition-to-Guardianship-07Apr16.pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/Bishop[[:space:]]-[[:space:]]Pattern[[:space:]]Recognition[[:space:]]and[[:space:]]Machine[[:space:]]Learning.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/C[[:space:]]-[[:space:]]Guitar[[:space:]]Music[[:space:]]Theory[[:space:]]-[[:space:]]Jerry[[:space:]]Bergonzi[[:space:]]-[[:space:]]Vol[[:space:]]1[[:space:]]-[[:space:]]Melodic[[:space:]]Structures.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Generative[[:space:]]Theory[[:space:]]of[[:space:]]Tonal[[:space:]]Music[[:space:]]-[[:space:]]F.[[:space:]]Lersahl,[[:space:]]R.[[:space:]]Jackendoff[[:space:]](MIT)[[:space:]]WW.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]]-[[:space:]]Basic[[:space:]]Level.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory-[[:space:]]University[[:space:]]Oregon.pdf filter=lfs diff=lfs merge=lfs -text
Programming-Languages/Go/The_Way_To_GO.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Piano[[:space:]]jazz[[:space:]]improvisation[[:space:]]harmony[[:space:]]theory.pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/book2015april.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Berklee[[:space:]]College[[:space:]]Of[[:space:]]Music[[:space:]]-[[:space:]]Harmony[[:space:]]4.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Guitar[[:space:]]Fretboard[[:space:]]Workbook[[:space:]]-[[:space:]]Barrett[[:space:]]Tagliarino.pdf/Guitar[[:space:]]Fretboard[[:space:]]Workbook[[:space:]]-[[:space:]]Barrett[[:space:]]Tagliarino.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Jazz[[:space:]]ear[[:space:]]training.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]]in[[:space:]]Concept[[:space:]]and[[:space:]]Practice.chm filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory,[[:space:]]George[[:space:]]Thaddeus[[:space:]]Jones,[[:space:]]1974.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Musical[[:space:]]Theory[[:space:]]and[[:space:]]Ancient[[:space:]]Cosmology.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/The[[:space:]]Red[[:space:]]Book[[:space:]]-[[:space:]]Jazz[[:space:]]Theory.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]]-[[:space:]]Blue[[:space:]]Notes[[:space:]]or[[:space:]]Not[[:space:]](John[[:space:]]Duarte).pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]]Is[[:space:]]Not[[:space:]]Nuclear[[:space:]]Physics.pdf filter=lfs diff=lfs merge=lfs -text
Human-Language/Practice_Makes_Perfect_English_Pronouns_and_Prepositions,_Second_Edition.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Berklee[[:space:]]College[[:space:]]Of[[:space:]]Music[[:space:]]-[[:space:]]Harmony[[:space:]]1.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Guitar[[:space:]]Fretboard[[:space:]]Workbook[[:space:]]-[[:space:]]Barrett[[:space:]]Tagliarino.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]]-[[:space:]]Super[[:space:]]Sight[[:space:]]Reading[[:space:]]Secrets.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Poldi[[:space:]]Zeitling[[:space:]]and[[:space:]]David[[:space:]]Goldberger[[:space:]]-[[:space:]]Understanding[[:space:]]music[[:space:]]theory.pdf filter=lfs diff=lfs merge=lfs -text
Books/Nodejs_in_Action.pdf filter=lfs diff=lfs merge=lfs -text
Programming-Languages/JavaScript/Eloquent_JavaScript.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]]-[[:space:]]Shades[[:space:]]of[[:space:]]Blue[[:space:]](John[[:space:]]Duarte).pdf filter=lfs diff=lfs merge=lfs -text
Programming-Languages/Java filter=lfs diff=lfs merge=lfs -text
Research_Papers/dns-rebinding.pdf filter=lfs diff=lfs merge=lfs -text
Research_Papers/LearnedIndexes.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Guitarist-s[[:space:]]Music[[:space:]]Theory[[:space:]]Book.pdf filter=lfs diff=lfs merge=lfs -text
Programming-Languages/Go filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/AI.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]]For[[:space:]]The[[:space:]]Rock[[:space:]]Guitarist[[:space:]]-[[:space:]]Ben[[:space:]]Bolt[[:space:]]Mel[[:space:]]Bay.pdf filter=lfs diff=lfs merge=lfs -text
Books/Raspberry_Pi_Cookbook_Second_Edition.pdf filter=lfs diff=lfs merge=lfs -text
Linux-Kernel/Linux.Kernel.Development.3rd.Edition.pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/thinkstats.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Popular[[:space:]]Music[[:space:]]-[[:space:]]Vol[1].[[:space:]]2[[:space:]]-[[:space:]]Theory[[:space:]]and[[:space:]]Method.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Alfred[[:space:]]Handy[[:space:]]Guide[[:space:]]-[[:space:]]Music[[:space:]]Notation[[:space:]]Dictionary.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Sampling_Theory.pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/cookbook-en.pdf filter=lfs diff=lfs merge=lfs -text
Programming-Languages/ProgrammingGroundUp-1-0-booksize.pdf filter=lfs diff=lfs merge=lfs -text
Research_Papers/MLStartPaper.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Alfred[[:space:]]Handy[[:space:]]Guide[[:space:]]-[[:space:]]Piano[[:space:]]Chord[[:space:]]Dictionary.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Berklee[[:space:]]College[[:space:]]Of[[:space:]]Music[[:space:]]-[[:space:]]Harmony[[:space:]]2.pdf filter=lfs diff=lfs merge=lfs -text
Books/Oreilly.Hadoop.The.Definitive.Guide.3rd.Edition.Jan.2012.pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/ESLII_print10.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Essential[[:space:]]Music[[:space:]]Theory[[:space:]]for[[:space:]]Singers.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]](Ebook)[[:space:]]Complete[[:space:]]Guitar[[:space:]]Book.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music-theory-and-improvising-outline.pdf filter=lfs diff=lfs merge=lfs -text
Parallel-Programming/Programming[[:space:]]Massively[[:space:]]Parallel[[:space:]]Processors.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Alan[[:space:]]Berklin[[:space:]]-[[:space:]]A[[:space:]]Practical[[:space:]]Guide[[:space:]]to[[:space:]]Musical[[:space:]]Composition.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]]For[[:space:]]Flamenco.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Sandy[[:space:]]Feldstein[[:space:]]-[[:space:]]Practical[[:space:]]Music[[:space:]]Theory[[:space:]]Complete.pdf filter=lfs diff=lfs merge=lfs -text
Misc/kargil.pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/Kernel_Methods_for_Pattern_Analysis.pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/Mining_Massive_Datasets.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Dans[[:space:]]Music[[:space:]]Theory.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]]-[[:space:]]John[[:space:]]Dowlands[[:space:]]Chromatic[[:space:]]Harmony[[:space:]](John[[:space:]]Duarte).pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/David-J-C-MacKay.pdf filter=lfs diff=lfs merge=lfs -text
Research_Papers/birrell-paper.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/A.Schoenberg[[:space:]]-[[:space:]]Fundamentals[[:space:]]of[[:space:]]Musical[[:space:]]Composition.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Basic[[:space:]]Music[[:space:]]Theory-How[[:space:]]to[[:space:]]Read,[[:space:]]Write[[:space:]]and[[:space:]]Understand[[:space:]]Written[[:space:]]Music[[:space:]](Jonathan[[:space:]]Harnum).pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Miller[[:space:]]Puckette[[:space:]]-[[:space:]]Theory[[:space:]]and[[:space:]]Techniques[[:space:]]of[[:space:]]Electronic[[:space:]]Music.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]]-[[:space:]]Dowland,[[:space:]]Duarte[[:space:]]and[[:space:]]Chromaticism[[:space:]](John[[:space:]]Duarte).pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]]For[[:space:]]Dummies.pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/2013[[:space:]]Matrix[[:space:]]Computations[[:space:]]4th.pdf filter=lfs diff=lfs merge=lfs -text
Books/Designing[[:space:]]Fast[[:space:]]Data[[:space:]]Application[[:space:]]Architectures.pdf filter=lfs diff=lfs merge=lfs -text
Books/Kafka-definitive-guide.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Bret[[:space:]]Willmott[[:space:]]-[[:space:]]Complete[[:space:]]Book[[:space:]]Of[[:space:]]Harmony[[:space:]]Theory[[:space:]][[:space:]]Voicing.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]]Quick[[:space:]]Facts[[:space:]]Sheet.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/The[[:space:]]Complete[[:space:]]Idiots[[:space:]]Guide[[:space:]]to[[:space:]]Music[[:space:]]Theory.pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/NNDesign.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Analysing[[:space:]]Popular[[:space:]]Music[[:space:]]-[[:space:]]Theory,[[:space:]]Method[[:space:]]And[[:space:]]Practice[[:space:]]By[[:space:]]Phi.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]-[[:space:]]Theory[[:space:]]-[[:space:]]Jazz[[:space:]]Theory.pdf filter=lfs diff=lfs merge=lfs -text
Books/Docker-in-Action.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/George[[:space:]]Van[[:space:]]Eps[[:space:]]-[[:space:]]Guitar[[:space:]]Mechanisms.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Guitar[[:space:]]Music[[:space:]]Theory[[:space:]]-[[:space:]]Ear[[:space:]]Training[[:space:]]Manual[[:space:]]for[[:space:]]Musicians.pdf filter=lfs diff=lfs merge=lfs -text
Books/Smashing[[:space:]]Node.js[[:space:]]JavaScript[[:space:]]Everywhere.pdf filter=lfs diff=lfs merge=lfs -text
Human-Language/Easy[[:space:]]Spanish[[:space:]]Step-by-Step.pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/pbook.pdf filter=lfs diff=lfs merge=lfs -text
Programming-Languages/Java/Thinking_in_Java_4th_edition.pdf filter=lfs diff=lfs merge=lfs -text
Programming-Languages/JavaScript/stoyan-stefanov-javascript-patterns.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]]-[[:space:]]Finishing[[:space:]]the[[:space:]]Blues[[:space:]](For[[:space:]]Now)[[:space:]]-[[:space:]]John[[:space:]]Duarte.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/The[[:space:]]Chord[[:space:]]Scale[[:space:]]Theory[[:space:]][[:space:]]Jazz[[:space:]]Harmony[[:space:]]-[[:space:]]Nettles[[:space:]]And[[:space:]]Grafpdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/University[[:space:]]Musical[[:space:]]Encyclopedia[[:space:]]The[[:space:]]Theory[[:space:]]Of[[:space:]]Music[[:space:]]And[[:space:]]Piano[[:space:]]Technique[[:space:]](By[[:space:]]E.[[:space:]]Markham)[[:space:]](1912).pdf filter=lfs diff=lfs merge=lfs -text
Linux-Kernel/advanced-linux-programming.pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/David-Barber-Bayesian-Reasoning-and-Machine-Learning.pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/Intro_To_ML.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Berklee[[:space:]]College[[:space:]]Of[[:space:]]Music[[:space:]]-[[:space:]]Harmony[[:space:]]Tensions.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/James[[:space:]]Bastien[[:space:]]-[[:space:]]Piano[[:space:]]Basics[[:space:]]Theory[[:space:]]Primer[[:space:]]Level.pdf filter=lfs diff=lfs merge=lfs -text
Linux-Kernel/UnderStandingKernel.pdf filter=lfs diff=lfs merge=lfs -text
Parallel-Programming/OpenCL_in_Action.pdf filter=lfs diff=lfs merge=lfs -text
Programming-Languages/JavaScript filter=lfs diff=lfs merge=lfs -text
Research_Papers/Google_Arch.pdf filter=lfs diff=lfs merge=lfs -text
Misc/Constitution.pdf filter=lfs diff=lfs merge=lfs -text
Books/Introduction-to-Linear-Algebra.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Music[[:space:]]Theory[[:space:]]-[[:space:]]The[[:space:]]Ultimate[[:space:]]Guide[[:space:]]To[[:space:]]Reading[[:space:]]Music.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Musicians[[:space:]]Institute[[:space:]]-[[:space:]]Harmony[[:space:]][[:space:]]Theory.pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/NaturalLanguageProcessingWithPython.pdf filter=lfs diff=lfs merge=lfs -text
Books/music[[:space:]]theory[[:space:]]ebook[[:space:]]collection/Oxford[[:space:]]Dictionary[[:space:]]Of[[:space:]]Music.pdf filter=lfs diff=lfs merge=lfs -text
Books/vim-cheatsheet.pdf filter=lfs diff=lfs merge=lfs -text
ML_and_NLP/ISLR.pdf filter=lfs diff=lfs merge=lfs -text
